*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
html {
background: #fff;
}
body{
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif !important;
font-size: 100% !important;
width: 25em;
height: auto !important;
margin: 5em auto !important;
padding: .8em !important;
border: 1px #BBB solid !important;
border-radius: 1em;
background: #eee !important;
}
#eg-verify-user-form .form-item-comment {
   position: relative;
   height: 0px;
   overflow: hidden;
}
.form-item-full-name label {
   font-size: 1px;
   text-indent: -9999px;
}
p.small {
	font-size: 10px;
}
p.hilight {
	color: #904040;
}
#main{
padding-top: 10px;
}
.form-item-full-name{margin:0;}
.form-description p{margin-bottom: .5em;}
.medium{font-size: .8em;}
#eg-header-top{
width: 100%;
border-bottom: 1px solid black;
background: none !important;
}
.eg-main-container input.form-text, textarea.form-textarea, select.form-select{
width: 96%;
padding: .3em;
margin: 0 0 1em 0;
}
.eg-main-container .form-item {
margin : 0;
}
#eg-logo{
display: block;
text-align: center;
padding: .2em;
}
#eg-site-name{
padding: 5px;
text-align: center;
font-size: 25px;
}
#eg-site-name a{
text-transform: uppercase;
color: black;
text-decoration: none;
}
#eg-page-title{
font-size: 1em;
padding: .5em;
margin: 0;
text-align: center;
}
#tabs ul li a{
font-size: .65em;
margin: .2em;
}
footer.eg-footer{
text-align: center;
font-size: 12px;
padding: 10px;
color: black;
border-top: 1px solid black;
padding-bottom: 0;
}
